@using MVCStudents.Models
@model MVCStudents.Models.Subject
@{
    try
    {
        ViewBag.Title = "Edit";
    }
    catch (NullReferenceException)
    {
    }
    Layout = "~/Views/MastrPageSubject.cshtml";

}
<script src="~/scripts/jquery.validate.unobtrusive.js" type="text/javascript"></script>

<h2>Добавление предмета</h2>
<div>
    <form method="post" action="">
        @Html.HiddenFor(model=>model.SubjectId)
        @Html.LabelFor(model => model.Name):<br>
        @Html.EditorFor(model => model.Name, new { @Value = Model.Name })
        @Html.ValidationMessageFor(model => model.Name)<br>
        <br>
        @Html.LabelFor(model => model.Teacher):<br>
        @Html.TextBoxFor(model => model.Teacher, new { @Value = Model.Teacher })
        @Html.ValidationMessageFor(model => model.Teacher)<br>
        <br>

        <input type="submit" value="Отправить" />
    </form>
</div>