@using MVCStudents.Models
@model MVCStudents.Models.Student
@{
    try
    {
        ViewBag.Title = "Add";
    }
    catch(NullReferenceException)
    {
    }
    Layout = "~/Views/MastrPage.cshtml";
}

<h2>Добавление студента</h2>
<div>
    <form method="post" action="">
        @Html.LabelFor(model => model.FIO):<br>
        @Html.EditorFor(model => model.FIO, new { @Value = Model.FIO })
        @Html.ValidationMessageFor(model => model.FIO)<br>
        <br>
        @Html.LabelFor(model => model.Contacts):<br>
        @Html.TextBoxFor(model => model.Contacts, new { @Value = Model.Contacts })
        @Html.ValidationMessageFor(model => model.Contacts)<br>
        <br>

        @Html.LabelFor(model => model.Course):<br>
        @Html.TextBoxFor(model => model.Course, new { @Value = "1" })
        @Html.ValidationMessageFor(model => model.Course)<br>
        <br>

        @foreach (Subject subj in ViewBag.Subjects)
        {
            <input type="checkbox" name="chosenSubjects" value="@subj.SubjectId"
                    @((Model!=null && Model.Subjects.Contains(subj) ? "checked=\"checked\"" : "")) />
            @subj.Name;
            <br>
        }
        <input type="submit" value="Отправить" />
    </form>
</div>